* {
  margin: 0;
  padding: 0;
}

:root {
  --black-primary: hsl(0, 0%, 15%);
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-color: var(--black-primary);
  color: white;
}
